body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .home-pic img{
    width: 100%;
    height: 650px;
  }

  .nav-contant{
    position: absolute;
    margin-top: 100px;
    margin-left: 625px;
  }
  
  header {
    color: black;
  }
  
  nav a {
    color: black;
    margin: 0 15px;
    text-decoration: none;
  }
  
  #blogForm {
    width: 50%;
    padding: 20px;
  }

  label {
    display: block;
    font-weight: bold;
    float: left;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #333333;
  }

  input[type="text"],
  input[type="file"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1rem;
  }
/* 
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1rem;
  } */

  /* Button styling */
  button[type="submit"] {
    position: absolute;
    width: 25%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 500px;
  }

  button[type="submit"]:hover {
    background-color: #0056b3;
  }

  .ql-toolbar.ql-snow {
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    padding: 8px;
    width: 51.7%;
    margin-left: 20px;
    margin-top: -20px;
  }

  .ql-toolbar.ql-snow + .ql-container.ql-snow {
    border-top: 0;
    width: 51.7%;
    margin-left: 20px;
    margin-top: -5px;
  }

  #blogCards{
    display: ruby;
    width: 100%;
  }

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 250px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card h3 {
  font-size: 1.2em;
}

#Category{
  display: inline-block;
}

.right-btn{
  margin-top: -395px;
  margin-left: 689px;
}


#searchInputs{
  padding: 0; 
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); /* Black background with transparency */

}

.modal-content {
  background-color: white;
  margin: 15% auto; /* Center vertically and horizontally */
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 50px;
  margin-top: 10px;  
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


